.location-card {
    max-width: 12rem;
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: white;
    text-decoration: none;
    border-radius: 0.33rem;
    overflow: hidden;
    cursor: pointer;
    

    .location-card__image {
        object-fit: fill;
    }

    .location-card__content {
        padding: 0.25rem 0.5rem 0.5rem 0.5rem;
    }

    .location-card__labels {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        
        p {
            font-size: 0.75rem;
        }

        .location-card__labels__status {
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            background-color: rgb(0, 0, 41);
            font-weight: 600;
        }
    }

    .location-card__info {
        display: flex;
        flex-direction: column;
        place-items: start;
        gap: 0.125rem;
        

        .location-card__info__name {
            text-align: center;
            font-weight: 700;
            font-size: 1rem;
        }

        .location-card__info__parentLocation {
            font-weight: 600;
            font-size: 0.75rem;
        }
    }
}