.nav {
    height: 3.563rem;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #4a4e51;

    .nav__logo {
        position: absolute;
        top: 1.25rem;
        left: 3rem;
    }

    .nav__toggle {
        display: none;
    }

    .nav__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        a {
            text-decoration: none;
            color: var(--text);
            
        }

        a:hover {
            color: white
        }

        span {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 19px;
        }
    }

    @media (max-width: 890px) {
        height: 4rem;

        .nav__logo {
            position: absolute;
            top: 1rem;
            left: 3rem;
        }

        .nav__toggle {
            display: flex;
            justify-content: center;
            padding: 0.25rem;
            position: absolute;
            /* top: 1rem; */
            right: 0;
        }

        .nav__content {
            display: none;
        }

        .nav__content.nav__content-open {
            position: absolute;
            top: 4rem;
            right: 0.5rem;
            z-index: 70;
            background-color: #111111;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 0.75rem;
            border: 1px solid var(--border);
            transition: height 400ms ease-in-out;
        }
    }
}

.footer {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    max-width: 74.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto auto 1.75rem auto;
}

.footer__content {
    position: relative;
    
}

.footer__markings {
    position: absolute;
    margin: auto;
    top: -0.175rem;
    left: -7.5rem;
    z-index: 60;
    max-height: 2rem;

    @media (max-width: 400px) {
        max-width: 370px;
        left: -6.5rem;
    }
}

.footer__copyright {
    font-weight: 600;
    color: var(--text);
    font-size: 0.875rem;
    line-height: 1;
    margin: 0 auto 0 auto;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.33rem;
    border-radius: 0.33rem;
    padding: 0.33rem 0.5rem 0.33rem 0.5rem;
    backdrop-filter: blur(5px);

}

.status__circle {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid transparent;
    border-radius: 100%;
}

.status__text {
    font-weight: 500;
    font-size: 0.675rem;
    line-height: 1;
}

.status__circle__finalized {
    background-color: rgb(0, 94, 31);
}

.status__circle__needs-finalization {
    background-color: rgb(118, 151, 0);
}

.status__circle__first-passed {
    background-color: rgb(73, 145, 73);
}

.status__circle__needs-more-work {
    background-color: rgb(156, 157, 255);
}

.status__circle__not-started {
    background-color: rgb(192, 192, 192);
}

.status__circle__redo {
    background-color: rgb(150, 0, 0);
}

.status__finalized {
    border: 1px solid rgb(0, 94, 31);
}

.status__needs-finalization {
    border: 1px solid rgb(118, 151, 0);
}

.status__first-passed {
    border: 1px solid rgb(73, 145, 73);
}

.status__needs-more-work {
    border: 1px solid rgb(156, 157, 255);
}

.status__not-started {
    border: 1px solid rgb(192, 192, 192);
}

.status__redo {
    border: 1px solid rgb(150, 0, 0);
}

.status--sm {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

.status--md {
    padding: 0.33rem;
    border-radius: 0.33rem;
}

.status--lg {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    height: 1.656rem;
}

.location-card__image-container {
    
    
   
}

.image-modal__image {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    
    /* filter: blur(1px); */
}

dialog {
    --bleed: 1rem;
    max-width: calc(30rem - var(--bleed));
    width: calc(100% - var(--bleed));
    max-height: 40rem;
    position: relative;
    border: none;
    border-radius: 0.5rem;
    padding: 0;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.75;
}

dialog > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.33rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 999px;
    background-color: oklch(14.5% 0 0deg);
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    transition: var(--button-colors);

    @media (hover: hover) {
        &:hover:not([data-disabled]) {
        background-color: oklch(97% 0 0deg);

        @media (prefers-color-scheme: dark) {
            background-color: oklch(26.9% 0 0deg);
        }
        }
    }

    &:active:not([data-disabled]) {
        background-color: oklch(92.2% 0 0deg);

        @media (prefers-color-scheme: dark) {
        background-color: oklch(37.1% 0 0deg);
        }
    }

    &[data-disabled] {
        color: oklch(55.6% 0 0deg);
        border-color: oklch(55.6% 0 0deg);

        @media (prefers-color-scheme: dark) {
        color: oklch(70.8% 0 0deg);
        border-color: oklch(70.8% 0 0deg);
        }
    }

    &:focus-visible {
        outline: 2px solid oklch(14.5% 0 0deg);
        outline-offset: -1px;

        @media (prefers-color-scheme: dark) {
        outline-color: white;
        }
    }
    }


@media (max-width: 444px) {
    .status {
        gap: 0.25rem;
        padding: 0.25rem 0.33rem 0.25rem 0.33rem;
        vertical-align: middle;
    }

    .status__text {
        line-height: 1;
    }
}