.nav {
    height: 3.563rem;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #4a4e51;

    .nav__logo {
        position: absolute;
        top: 1.25rem;
        left: 1rem;
    }

    .nav__toggle {
        display: none;
    }

    .nav__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        a {
            text-decoration: none;
            color: gray;
            
        }

        a:hover {
            color: white
        }

        span {
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 19px;
        }
    }

    @media (max-width: 834px) {
        height: 4rem;

        .nav__logo {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        .nav__toggle {
            display: flex;
            justify-content: center;
            padding: 0.25rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .nav__content {
            display: none;
        }

        .nav__content.nav__content-open {
            position: absolute;
            top: 4rem;
            right: 0;
            z-index: 70;
            background-color: #111111;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            padding: 0.75rem;
            border: 1px solid var(--border);
            transition: height 400ms ease-in-out;
        }
    }
}

.footer {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    max-width: 74.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto auto 1.75rem auto;
}

.footer__content {
    position: relative;
    
}

.footer__markings {
    position: absolute;
    margin: auto;
    top: -0.175rem;
    left: -7.5rem;
    z-index: 60;
    max-height: 2rem;

    @media (max-width: 400px) {
        max-width: 370px;
        left: -6.5rem;
    }
}

.footer__copyright {
    font-weight: 600;
    color: rgb(231, 225, 225);
    font-size: 0.875rem;
    line-height: 1;
    margin: 0 auto 0 auto;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 41);
    
}

.status__text {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 24px;
}

.status__finalized {
    background-color: rgb(0, 94, 31);
}

.status__needs-finalization {
    background-color: rgb(118, 151, 0);
    
}

.status__first-passed {
    background-color: rgb(73, 145, 73);
}

.status__needs-more-work {
    background-color: rgb(156, 157, 255);
}

.status__not-started {
    background-color: rgb(192, 192, 192);
}

.status__redo {
    background-color: rgb(150, 0, 0);
}

.status--sm {
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

.status--md {
    padding: 0.33rem;
    border-radius: 0.33rem;
}

.status--lg {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    height: 1.656rem;
}

.location-card__image-container {
    
    
   
}

.image-modal__image {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    
    /* filter: blur(1px); */
}

dialog {
    --bleed: 1rem;
    max-width: calc(30rem - var(--bleed));
    width: calc(100% - var(--bleed));
    max-height: 40rem;
    position: relative;
    border: none;
    border-radius: 0.5rem;
    padding: 0;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.75;
}

dialog > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* @media (max-width: 444px) {
    .location-card__image {
        display: none;
    }
} */