.checkbox-group {
    width: 12.725rem;
    border: 1px solid #4a4e51;
    align-self: flex-start;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    margin: 0 auto 1rem auto;
    margin-bottom: 1rem;

    .checkbox-group__legend {
        
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    .checkbox-group__option {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        position: relative;
        font-size: 0.875rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        
        .checkbox-group__option input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkbox-group__option-text-null {
            color: #4a4e51 !important;
            line-height: 1.333;
        }

        .checkbox-group__option-text {
            line-height: 1.333;
        }

        .checkbox-group__option__checkbox {
            accent-color:  #4e7900;
            width: 1.35rem;
            height: 1.35rem;
            margin: 0;
            cursor: pointer;
            background-color: #eee;
            margin-right: 0.25rem;
        }

        .checkbox-group__option__checkbox:checked {
            background-color: red;
        }
    }

    .checkbox-group__show-more-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 0.75rem;
        font-weight: 600;
        gap: 0.25rem;
        padding: 0;

        .checkbox-group__show-more-button__text {
            text-decoration: underline;
        }
    }
    
}

