.location-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;

    .location-header__core-info {
        align-self: center;
    }

    .location-header__last-edited {
        align-self: flex-start;

        .location-header__last-edited__date {
            display: flex;
            gap: 0.25rem;
        }

        .location-header__last-edited__edited-by {
            display: flex;
            gap: 0.25rem;
        }
    }

    .location-header__status {
        display: flex;
        align-items: center;
        background-color: orange;
        color: white;
        border-radius: 0.5rem;
        padding: 0.33rem;
        font-size: 0.75rem;
    }
}

.location-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;


    .location-content__list {
        list-style: none;
        text-align: left;
        
    }

    .location-content__list-item {
        margin-bottom: 0.5rem;
    }

    .location-content__description {
        align-self: center;
    }

    .location-content__writing-ld-wishlist {
        align-self: center;

        ul {
            text-align: left;
        }
    }

}