.filter__options {
  max-width: 18rem;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
  max-height: calc(100vh - 9rem);

  @media (max-width: 1024px) {
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  
  .filter__options__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .filter__options__header-title {
    font-size: 1.25rem;
    text-align: center;
  }
}

.filter__tags {
  
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-self: flex-start;
  justify-content: flex-start;
}

.filter__tags-container {
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.filter__tags-clear-btn {
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 600;
  color: rgb(0, 113, 185);
  text-decoration: underline;
}

.filter__tags-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.4435rem 0.75rem 0.4435rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgb(68, 17, 83);
  color: white;
  font-size: 0.825rem;
  border: 1px solid rgb(227, 145, 252);
}

.filter__tags-tag:hover {
  background-color: rgba(68, 17, 83, 0.397);
}

.quest-checkbox {
  width: 12.725rem;
  align-self: center;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.quest-checkbox__option {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  font-size: 0.875rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.quest-checkbox__option__checkbox {
  accent-color:  #4e7900;
  width: 1.35rem;
  height: 1.35rem;
  margin: 0;
  cursor: pointer;
  background-color: #eee;
  margin-right: 0.25rem;
}

.quest-checkbox__option__checkbox {
  
}

.quest-checkbox__option-text {
  line-height: 1.333;
}