.filter__options {
    width: 18rem;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100%;
    max-height: calc(100vh - 9rem);
    
    
    .filter__options__header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }

    .filter__options__header-title {
      font-size: 1.25rem;
      text-align: center;
    }
  }