.filter__options {
  width: 18rem;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
  max-height: calc(100vh - 9rem);
  
  
  .filter__options__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .filter__options__header-title {
    font-size: 1.25rem;
    text-align: center;
  }
}

.filter__tags {
  max-width: 17rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto 1rem auto;
}

.filter__tags-tag {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(168, 134, 134);
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
}

.filter__tags-tag__delete-btn {
  margin-left: 0.25rem;
}

.quest-checkbox {
  width: 12.725rem;
  align-self: flex-start;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  margin: 0 auto 1rem auto;
  margin-bottom: 1rem;
}

.quest-checkbox__option {
 display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  font-size: 0.875rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.quest-checkbox__option__checkbox {
  accent-color:  #4e7900;
  width: 1.35rem;
  height: 1.35rem;
  margin: 0;
  cursor: pointer;
  background-color: #eee;
  margin-right: 0.25rem;
}

.quest-checkbox__option__checkbox {
  
}

.quest-checkbox__option-text {
  line-height: 1.333;
}