.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 999px;
  background-color: oklch(14.5% 0 0deg);
  -webkit-user-select: none;
  user-select: none;
  transition: var(--button-colors);

  @media (hover: hover) {
    &:hover:not([data-disabled]) {
      background-color: oklch(97% 0 0deg);

      @media (prefers-color-scheme: dark) {
        background-color: oklch(26.9% 0 0deg);
      }
    }
  }

  &:active:not([data-disabled]) {
    background-color: oklch(92.2% 0 0deg);

    @media (prefers-color-scheme: dark) {
      background-color: oklch(37.1% 0 0deg);
    }
  }

  &[data-disabled] {
    color: oklch(55.6% 0 0deg);
    border-color: oklch(55.6% 0 0deg);

    @media (prefers-color-scheme: dark) {
      color: oklch(70.8% 0 0deg);
      border-color: oklch(70.8% 0 0deg);
    }
  }

  &:focus-visible {
    outline: 2px solid oklch(14.5% 0 0deg);
    outline-offset: -1px;

    @media (prefers-color-scheme: dark) {
      outline-color: white;
    }
  }
}

.Backdrop {
  --backdrop-opacity: 0.7;
  position: fixed;
  
  inset: 0;
  background-color: black;
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
  transition-duration: 450ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  /* @supports (-webkit-touch-callout: none) {
    position: absolute;
  } */

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  &[data-swiping] {
    transition-duration: 0ms;
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Viewport {
  --viewport-padding: 0px;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  padding: var(--viewport-padding);

  /* @supports (-webkit-touch-callout: none) {
    --viewport-padding: 0.625rem;
  } */
}

.Popup {
  --bleed: 3rem;
  box-sizing: border-box;
  width: calc(45rem + var(--bleed));
  max-width: calc(100vw - var(--bleed));
  height: 100%;
  padding: 1.5rem;
  padding-right: calc(1.5rem + var(--bleed));
  margin-right: calc(-1 * var(--bleed));
  border-left: 1px solid #faf118;
  background-color: var(--bg-light);
  color: var(--text);
  outline: 0;
  box-shadow: 0.25rem 0.25rem 0 rgb(0 0 0 / 12%);
  overflow-y: auto;
  overscroll-behavior: contain;
  touch-action: auto;
  transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);
  will-change: transform;
  transform: translateX(var(--drawer-swipe-movement-x));

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateX(calc(100% - var(--bleed) + var(--viewport-padding) + 2px));
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }

  @supports (-webkit-touch-callout: none) {
    --bleed: 0px;
    margin-right: 0;
  }
}

.Content {
  width: 100%;
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--lg);
}

.TitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.LocationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.LocationText {
  white-space: nowrap;
  text-align: left;
  line-height: 1;
}

.ParentLocationChildren {
  position: absolute;
  /* right: -2.5rem; */
  left: 0;
  top: 6.5rem;
  max-height: 20rem;
  background-color: var(--bg-dark);
  border: 1px solid var(--border);
  color: var(--text-muted);
  border-radius: 0.33rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 0.825rem;
  z-index: 50;
  overflow: auto;
}

.ShowMoreCellsBtn {
  border: none;
  background-color: transparent;
  font-size: 0.825rem;
  line-height: 1;
  font-weight: 600;
  color: rgb(0, 113, 185);
  text-decoration: underline;
  padding: 0;
  margin-top: 0.5rem;

  &:hover {
    color: rgb(1, 139, 224);
    background-color: transparent;
  }
}

.ShowMoreCellsBtnText {
  margin-right: 0.25rem;
}

.ListContainer {
  min-width: 20rem;
  list-style: none;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ListItem {
  display: block;
  width: 100%;
  margin-bottom: var(--md);
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 4rem;
  position: relative;
  color: var(--text-muted);
}

.ListArray {
  min-width: 9rem;
  list-style: none;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ListArrayItem {
  margin-bottom: 0.33rem;
  min-width: 6.5rem;
  text-align: left;
}

.ListItemText {
  display: block;
  min-width: 6.5rem;
  text-wrap: wrap;
  overflow-wrap: break-word;
  flex-shrink: 0;
}

.ListItemLink {
  display: block;
  min-width: 6.5rem;
  overflow-wrap: anywhere;
  word-break: break-all;
}

.Title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--sm);
  width: 100%;
  position: relative;
  
  text-align: left;
  position: relative;
}

.TitleText {
  width: 100%;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: 700;
  margin: 0;
}

.NotesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--lg);
}

.Notes {
  width: 100%;
  max-width: 45rem;
  align-self: center;
  text-align: left;
  font-size: 1.125rem;
}

.NotesTitle {
  text-align: center;
  color: var(--text);
  font-weight: 600;
}

.NotesSeparator {
  border: 1px solid #faf118;
}

.NotesText {
  min-height: 6rem;
  background-color: #f3e9cd; /* #BFA366 */
  color: #2b221e;
  padding: 1rem;
  border: 4px solid #5c4033;
  border-radius: 0.33rem;
  box-shadow: inset 0 0 40px rgba(92, 64, 51, 0.2), 0 4px 10px rgba(0, 0, 0, 0.3);
}

.NotesText > p {
  width: 100%;
  text-wrap: wrap;
}

.Actions {
  position: absolute;
  right: 4.5rem;
  top: 1.5rem;
}

.ShowMapButton {
  border-radius: 0.33rem;
  gap: var(--md);
  padding: 0.33rem;
  margin-left: 0.5rem;

  @media (max-width: 1024px) {
    bottom: -0.25rem;
  }
}

@media (max-width: 520px) {
  .ListArrayItem {
    max-width: 13.5rem;
  }
}

@media (max-width: 740px) {
  .Actions {
    top: 1rem;
    right: 1rem;
  }
  .Popup {
    --bleed: 3rem;
    padding: 1rem;
    
    max-width: 90vw;
    margin-right: calc(0 * var(--bleed));
  }

  .TitleText {
    font-size: 1.25rem;
  }

  .List {
    min-width: 4rem;
  }

  .ListItem {
    gap: 0;
  }

  .ListItemText, .ListItemLink {
    min-width: 6rem;
    font-size: 0.875rem;
  }
}