@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  /* --bg: #1c1c1c; */
  --border: #4a4e51; /* hsl(45, 40%, 50%) */
  --code-bg: #1f2028;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --bg-dark: hsl(322, 14%, 15%);
  --bg-dark-80: hsla(322, 20%, 15%);
  --bg: hsl(0, 0%, 90%);
  /* --bg: hsl(220, 15%, 85%); */
  --bg-light: #F7F6F4;
  --text: oklch(0.15 0 278);
  --text-muted: oklch(0.4 0 278);
  --highlight: oklch(1 0 278);
  --border-muted: oklch(0.7 0 278);

  /* Text */
  --text: #222222;
  --text-muted: #d3d3d3;

  /* Fonts */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --font-primary: "Plus Jakarta Sans", sans-serif;

  /* Transitions */
  --button-colors: background-color 150ms ease-in-out;

  font: 18px/145% var(--sans);
  font-family: var(--font-primary);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  isolation: isolate;
  background-color: var(--bg);
}

body {
  margin: 0;
  background-color: var(--bg);
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}