.Root {
  box-sizing: border-box;
  width: 100%;
  max-width: 90rem;
  /* max-height: 100vh; */
}

.List {
  display: flex;
  position: relative;
  z-index: 1;
  /* margin-bottom: 0.33rem; */
  border-bottom: 1px solid var(--border);
}

.Tab {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  color: oklch(67.64% 0.00008 271.152);
  font-family: inherit;
  font-size: 0.825rem;
  line-height: 1.25rem;
  font-weight: 400;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  padding-inline: 0.75rem;
  padding-block: 0;
  height: calc(2rem + 1px);
  cursor: pointer;
  border-radius: 0.33rem;
  transition: var(--button-colors);
  border-bottom: 1px solid transparent;

  @media (hover: hover) {
    &:hover {
      color: white;
      background-color: var(--bg-dark-80);
      
      border-radius: 0.33rem 0.33rem 0 0;
    }
  }

  &[data-active] {
    color: #faf118;
    border-bottom: 1px solid #faf118;
    border-radius: 0.33rem 0.33rem 0 0;
    background-color: var(--bg-dark);
  }

  &:focus-visible {
    outline: 2px solid oklch(14.5% 0 0deg);
    outline-offset: -1px;
  }
}

.Indicator {
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  translate: var(--active-tab-left);
  width: var(--active-tab-width);
  height: 100%;
  transition-property: translate, width;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  border-radius: 0.33rem 0.33rem 0 0;
  
  background-color: var(--bg-dark);
}

.PanelViewport {
  box-sizing: border-box;
  width: 100%;
  min-height: 8rem;
  /* border-inline: 1px solid #4a4e51;
  border-block: 1px solid #4a4e51; */
  border-radius: 0.5rem;
  height: 100%;
 

  @media (max-width: 1440px) {
    width: 100%;
  }

}

.Panel {
  /* max-height: calc(100vh - 14.5rem); */
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* padding: 1rem 1rem 0 1rem; */
  padding: 1rem 0;
  /* border-radius: 0.5rem; */
  /* overflow-y: auto;
  scrollbar-width: thin; */
  outline: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: oklch(14.5% 0 0deg);
  /* background-color: var(--bg-dark); */
  color: white;


  &:focus-visible {
    outline: 2px solid oklch(14.5% 0 0deg);
    outline-offset: -1px;
    z-index: 1;

  }

  &[hidden] {
    display: none;
  }

  @media (max-width: 1440px) {
    /* padding: 0.75rem 0.75rem 0 0.75rem; */
  }
}

.Paragraph {
  margin: 0;
}
