.hero {
  width: 100%;
  position: relative;
}

.location-card__container-view {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* flex-direction: column; */
  gap: 1rem;
  margin: 1rem 0 2rem 0;
  align-self: flex-end;
}

.location-card__container-view > span {
  font-size: 0.825rem;
}

.location-card__container-view__selects {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

.location-card__container-view__select {
  padding: 0.25rem;
  height: 2.167rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.825rem;
  font-family: var(--font-primary);
  border-radius: 0.33rem;
  border: 1px solid var(--border);
  position: relative;
}

.location-card__container-view__select:hover  {
  background-color: #52525E;
  transition: var(--button-colors);
}

.location-card__container-view__search {
  border-radius: 1.5rem;
  border: 1px solid transparent;
}

/* Search bar */
.location-card__container-view__search-form {
  min-width: 20rem;
  width: 100%;
  height: 40px;
  background-color: #2B2A33;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.location-card__container-view__search-input__container {
  width: 100%;
  height: 40px;
  border-radius: 1.25rem 0 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 0.5rem;
  border: 1px solid rgb(207, 207, 207);
  z-index: 80;
}

.location-card__container-view__search-input__container:focus-within {
  border: 1px solid #1c62b9;
}

.location-card__container-view__search-input {
  max-width: 12rem;
  width: 100%;
  font-size: 1rem;
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  border-radius: 1.25rem 0 0 1.25rem;
  font-family: var(--font-primary);
}

.location-card__container-view__search-input:focus {
  outline: none;
  z-index: 70;
}

.location-card__container-view__search-btn__container {
  border: 1px solid rgb(207, 207, 207);
  border-left: none;
  border-radius: 0 1.25rem 1.25rem 0;
  height: 100%;
}

.location-card__container-view__search-btn {
  min-width: 3rem;
  border-radius: 0 1.25rem 1.25rem 0;
  border-left: 1px solid rgb(207, 207, 207);
  height: 100%;
}

.location-card__container-view__clear-btn {
  height: 27px;
  background-color: transparent;
  line-height: 1;
  color: var(--text-muted);
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-primary);
  z-index: 60;
}

/* Cards Containers */
.location-card__cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  
  @media (max-width: 1024px) {
    gap: 0.75rem;
  }
}

.location-card__table-container {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 1rem;
  position: relative;
  
  @media (max-width: 1024px) {
    gap: 0.75rem;
  }
}

.location-card__table-container__header {
  background-color: var(--table-row);
  width: 100%;
  display: flex;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.location-card__table-container__header-row__cell {
  display: flex;
  width: 20%; 
  text-align: left;
  padding: 0.33rem 0.75rem;
  vertical-align: middle;
  font-weight: 700;
}

.location-card__table-container__header-row__cell:nth-child(1) {
  width: 15%;
  border-radius: 0.25rem 0 0 0.25rem;
}

.location-card__table-container__header-row__cell:nth-child(2) {
  width: 30%;
}

.location-card__table-container__header-row__cell:nth-child(3) {
  width: 20%;
}

.location-card__table-container__header-row__cell:nth-child(4) {
  width: 15%;
}

.location-card__table-container__header-row__cell:nth-child(5) {
  width: 10%;
  justify-content: center;
}

.location-card__table-container__header-row__cell:last-child {
  width: 10%;
  border-radius: 0 0.25rem 0.25rem 0;
  justify-content: center;
}

.pagination {
  width: calc(100% - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--md);
  padding: 1rem 1.5rem;
}

.pagination__buttons-container, .pagination__select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pagination__select {
  padding: 0.25rem;
  height: 2.167rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: var(--font-primary);
  border-radius: 0.33rem;
  border: 1px solid var(--border);
}

.pagination__select:hover  {
  background-color: #52525E;
  transition: var(--button-colors);
}

.pagination__select-pages-text {
  font-weight: 600;
  
}

.pagination__first-btn, .pagination__previous-btn, .pagination__next-btn, .pagination__last-btn {
  flex-shrink: 0;
  border: 1px solid var(--border);

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
    transition: none;
  }
}


.pagination__next-btn {

}

.pagination__last-btn {

}

@media (max-width: 680px) {
  .location-card__container-view {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .location-card__container-view__search {
    order: 2;
  }

  .location-card__table-container__header-row__cell{
    flex: 1;
  }

  .location-card__table-container__header-row__cell:nth-child(1) {
    width: 25%;
  }

  .location-card__table-container__header-row__cell:nth-child(n + 4) {
    display: none;
  }
}