.hero {
  max-width: 45rem;
  width: 100%;
  position: relative;

  .location-card__container {
    width: 100%;
    
    max-width: 45rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
  }

  .pagination {
    background-color: #111111;
    width: calc(100% - 3rem);
    position: sticky;
    bottom: -0.01rem;
    left: 0;
    padding: 1.5rem;
  }

}